/*
COLORES DEL PROYECTO
AZULES
primario (logo)
#004173

secundario 
#0979b0

NARANJAS
#ffa333
#ff9800
#ffc340
#ffd19b
*/


/*RESETEO*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    height: 0;
}
ul{
    list-style-type: none;
    padding-inline-start: 0px;
}
main{
    min-height: 100vh;
}
/*FIN DE RESETEO*/

/*SECCIONES*/
header{
    min-height: 150px;
    background-color: #0979b0;
    padding: 25px;
}
main{
    min-height: 500px;
}
footer{
    background-color: #004173;
    color:white;
    min-height: 315px;
    padding-top: 15px;
    padding-bottom: 0px;
}
.container-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}
.info{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px;
    background-color: #ffd19b;
}
.info p{
    text-align: justify;
    line-height: 35px;
    font-size: 25px;
    font-family: monospace;
    padding: 15px;
}
.videos, .map{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section iframe{
    margin-top: 25px;
    margin-bottom: 25px;
}
/*FIN DE SECCIONES*/

.centrado{
    text-align: center;
}
.form{
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
}
.redes{
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}
.icon{
    width: 50px;
    display: block;
}
input{
    height: 50px;
    width: 100%;
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}
.titulo{
    color: #ffa333;
    font-size: 45px;
    text-align: center;
}
.icon_boton{
    border: 3px solid white;
    padding: 10px;
    min-width: 60px;
}
.icon_boton:hover{
    border: 3px solid #004173;
}

/*NAV*/
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.boton{
    display: block;
    height: 50px;
    line-height: 50px;
    width: 150px;
    background-color: #004173;
    color: #ffa333;
    border: 0px;
    text-decoration: none;
    text-align: center;
}
.boton-secundario{
    display: block;
    height: 40px;
    line-height: 40px;
    width: 100px;
    background-color: #ffa333;
    color: #004173;
    border: 0px;
    text-decoration: none;
    text-align: center;
}
.boton, .boton-secundario{
    cursor: pointer;
}
.boton:hover{
    background-color: #ffa333;
    color: #004173;
}
.logo img{
    max-width: 150px;
}
/*FIN DE NAV*/


/*VISTA DE PC CHICA*/
@media (max-width: 1400px) {
    .info{
        width: 800px;
    }
}
/*FIN PC CHICA*/


/*VISTA DE TABLET*/
@media (max-width: 1024px) {
    .info{
        width: 600px;
    }
    .boton{
        width: 120px;
    }
}
/*FIN VISTA DE TABLET*/


/*VISTA DE TELÉFONO*/
@media (max-width: 650px) {
    .info{
        max-width: 300px;
        padding: 20px;
    }
    .info p{
        line-height: 25px;
        font-size: 15px;
        padding: 1px;
    }
    .nav{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .boton{
        margin:15px;
    }
    .container-menu{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 50px;
    }
    .redes{
        width: 400px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 35px;
    }
}
/*FIN VISTA DE TELÉFONO*/


@media (max-width: 350px) {
    .info{
        width: 80%;
        padding: 3px;
    }
}

