/*
COLORES DEL PROYECTO
AZULES
primario (logo)
#004173

secundario 
#0979b0

NARANJAS
#ffa333
#ff9800
#ffc340
*/


/*RESETEO*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*FIN DE RESETEO*/


ul{
    list-style-type: none;
}
img{
    max-width: 33%;
    margin: auto;
}



p{
    margin: 10px;
    padding: 10px;
}

header{
    min-height: 150px;
    background-color: #0979b0;
}

main{
    height: 500px;
}

footer{
    background-color: #004173;
    color:white;
    height: 250px;
    padding-top: 15px;
}

.centrado{
    text-align: center;
}

.form{
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
}
.redes{
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}
.icon{
    width: 150px;
    display: block;
}

input{
    height: 50px;
    width: 100%;
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}




.titulo{
    color: #ffa333;
    font-size: 45px;
    text-align: center;
}

/*NAV*/
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.boton{
    display: block;
    height: 50px;
    line-height: 50px;
    width: 150px;
    background-color: #004173;
    color: #ffa333;
    border: 0px;
    text-decoration: none;
    text-align: center;
}
.boton-secundario{
    display: block;
    height: 40px;
    line-height: 40px;
    width: 100px;
    background-color: #ffa333;
    color: #004173;
    border: 0px;
    text-decoration: none;
    text-align: center;
}
.boton, .boton-secundario{
    cursor: pointer;
}
.boton:hover{
    background-color: #ffa333;
    color: #004173;
}
/*FIN DE NAV*/